body {
	background-attachment: fixed;
	background-image: url(../images/brown-green/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


#menu {
	.navbar-inner {
		background-image: url(../images/brown-green/ribbon.png);
	}

	.navbar {
		&:after, &:before {
			background-image: url(../images/brown-green/menu.png);
		}
	}
}
